*.class
*.log
*.iml
*.DS_Store

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# mvn specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

src/test/resources/graphHopperSource/*
src/test/resources/graphHopper/*

src/test/resources/osm/maps-index/
